{% extends 'base.html.twig' %}

{% block title %}Mes Fiches{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ma Fiche</h1>

    {{ form(form) }}
    {% if select is not null %}
        <table>
            <thead>
            <tr>
                <th>État</th>
                <th>Nom d'utilisateur</th>
                <th>Mois</th>
                <th>Date de Modification</th>
                <th>Montant Validé</th>
                <th>Nombre de Justificatifs</th>
            </tr>
            </thead>
            <tbody>
            {% if select is not null %}
                <tr>
                    <td>{{ select.etat.libelle }}</td>
                    <td>{{ select.user.nom }}</td>
                    <td>{{ select.moisFormated | date('m-Y') }}</td>
                    <td>{{ select.dateModif | date('d-m-Y') }}</td>
                    <td>{{ select.montantValid }}</td>
                    <td>{{ select.nbJustificatifs }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}


</div>
{% endblock %}
